@media (max-width:375px){
    .ul-cl{
        display: none;
    }
    .fa-bars{
        display: block;
    }
    .header-div{
        display: none;
    }
}

@media(max-width:1024px){
    .div-box-3{
        flex-direction: column;
    }

}
